{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>The RhythmBox - {% block title %}{% endblock title %}</title>
    <meta name="title" content="The RhythmBox">
    <meta name="description" content="The RhythmBox is an ecommerce store for professional-grade drums, cymbals and drumming equipment">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    {% comment %} <meta property="og:url" content="https://www.cjcon90.dev/"> {% endcomment %}
    <meta property="og:title" content="The RhythmBox">
    <meta property="og:description" content="The RhythmBox is an ecommerce store for professional-grade drums, cymbals and drumming equipment">
    {% comment %} <meta property="og:image" content="https://res.cloudinary.com/cjcon90/image/upload/v1616015377/hot_dogz/og_preview_image.png"> {% endcomment %}

    <!-- Twitter -->
    {% comment %} <meta property="twitter:card" content="summary_large_image"> {% endcomment %}
    {% comment %} <meta property="twitter:url" content="https://hot-dogz.herokuapp.com/"> {% endcomment %}
    <meta property="twitter:title" content="The RhythmBox">
    <meta property="twitter:description" content="The RhythmBox is an ecommerce store for professional-grade drums, cymbals and drumming equipment">
    {% comment %} <meta property="twitter:image" content="https://res.cloudinary.com/cjcon90/image/upload/v1616015377/hot_dogz/og_preview_image.png"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
        <nav class="nav">
            <div class="nav__hamburger">
            {% comment %} Hamburger design inspired by Jesse Couch: https://codepen.io/designcouch/pen/Atyop {% endcomment %}
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav__logo">
                <a href="{% url 'home' %}"><img src="https://res.cloudinary.com/cjcon90/image/upload/v1621514847/codeinstitute/the_rhythm_box/logo.webp" alt="The Rhythm Box logo" class="nav__logo--img"></a>
            </div>
            <a href="{% url 'cart' %}" class="nav__cart">
                <div class="nav__cart--cart">
                    <i class="fas fa-shopping-cart t3"></i>
                </div>
                {% if product_count %}
                    <div class="nav__cart--count">
                        <p class="t8 bold">{{ product_count }}</p>
                    </div>
                {% endif %}
            </a>
            <div class="nav-menu hidden">
                <ul class="nav-menu__list">
                    <li class="nav-menu__list--category  upper regular"><a href="{% url 'shop' %}">Shop</a></li>
                    <ul class="nav-menu__list--inner">
                        <li class="nav-menu__list--subcategory  regular"><a href="{% url 'shop' 'acoustic-drums' %}">Acoustic</a></li>
                        <li class="nav-menu__list--subcategory  regular"><a href="{% url 'shop' 'electronic-drums' %}">Electric</a></li>
                        <li class="nav-menu__list--subcategory  regular"><a href="{% url 'shop' 'cymbals' %}">Cymbals</a></li>
                        <li class="nav-menu__list--subcategory  regular"><a href="{% url 'shop' 'accessories' %}">Accessories</a></li>
                    </ul>
                    {% if request.user.is_authenticated %}
                    <li class="nav-menu__list--category  upper regular"><a href="#">Account</a></li>
                    <ul class="nav-menu__list--inner">
                        <li class="nav-menu__list--subcategory  regular"><a href="#">My Details</a></li>
                        <li class="nav-menu__list--subcategory  regular"><a href="#">My Orders</a></li>
                        <li class="nav-menu__list--subcategory  regular"><a href="#">Change Password</a></li>
                    </ul>
                    {% else %}
                    <li class="nav-menu__list--category  upper regular"><a href="{% url 'register' %}">Register</a></li>
                    <li class="nav-menu__list--category  upper regular"><a href="{% url 'login' %}">Login</a></li>
                    
                    {% endif %}
                
                    <li class="nav-menu__list--category  upper regular"><a href="#">Contact Us</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-menu__list--category  upper regular"><a href="{% url 'logout' %}">Logout</a></li>                    
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block header %}{% endblock header %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {% include 'store/_toast.html' with message=message tag=message.tags %}
            {% else %}
                {% include 'store/_toast.html' with message=message %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <footer class="footer">
        <div class="connect">
            <div class="connect__heading">
                <h3 class="connect__heading--main bold upper t4">Stay Connected</h3>
                <h4 class="connect__heading--sub regular upper t7">Sign Up To Our Newsletter</h4>
            </div>
            <div class="connect__newsletter">
                <input type="text" class="connect__newsletter--input input-text t7" placeholder="Enter your email">
                <button type="submit" class="connect__newsletter--button btn btn--primary t6 upper bold">Sign Up</button>
            </div>
            <div class="connect__social">
                <a href="https://facebook.com" rel="nooopener" target="_blank" class="connect__social--link"><i class="connect__social--icon fab fa-facebook-square"></i></a>
                <a href="https://twitter.com" rel="nooopener" target="_blank" class="connect__social--link"><i class="connect__social--icon fab fa-twitter-square"></i></a>
                <a href="https://instagram.com" rel="nooopener" target="_blank" class="connect__social--link"><i class="connect__social--icon fab fa-instagram-square"></i></a>
                <a href="https://www.whatsapp.com" rel="nooopener" target="_blank" class="connect__social--link"><i class="connect__social--icon fab fa-whatsapp-square"></i></a>

            </div>
        </div>
        <div class="navigate">
            <h3 class="navigate__heading bold upper t4">Navigate</h3>
            <div class="navigate__sections">
                <div class="navigate__section">
                    <p class="navigate__section--heading t6 regular">Department</p>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="navigate__section">
                    <p class="navigate__section--heading t6 regular">Department</p>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="navigate__section">
                    <p class="navigate__section--heading t6 regular">Department</p>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="navigate__section">
                    <p class="navigate__section--heading t6 regular">Department</p>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact regular t8">
            <p class="contact__heading upper t7">Rhythmbox Stores</p>
            <p class="contact__address">14 South Dock Avenue, Grand Canal Dock, Dublin 4, Ireland</p>
            <p class="contact__number">+353 01 1234 567</p>
            <p class="contact__email">therhythmbox@gmail.com</p>
        </div>
    </footer>
    <script>
        const user = '{{ request.user }}'
    </script>
    <script type="module" src="{% static 'scripts/app.js' %}"></script>
    {% block js %}{% endblock js %}

</body>
</html>