{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}">
    <title>The RhythmBox - {% block title %}{% endblock title %}</title>
</head>
<body>
        <nav class="nav">
            <div class="nav__hamburger">
            {% comment %} Hamburger design inspired by Jesse Couch: https://codepen.io/designcouch/pen/Atyop {% endcomment %}
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav__logo">
                <img src="https://res.cloudinary.com/cjcon90/image/upload/v1621514847/codeinstitute/the_rhythm_box/logo.webp" alt="The Rhythm Box logo" class="nav__logo--img">
            </div>
            <div class="nav__cart">
                <div class="nav__cart--cart">
                    <i class="fas fa-shopping-cart t3"></i>
                </div>
                <div class="nav__cart--count">
                    <p class="t8 bold">2</p>
                </div>
            </div>
            <div class="nav-menu hidden">
                <ul class="nav-menu__list">
                    <li class="nav-menu__list--category t3 upper regular">Shop</li>
                    <ul class="nav-menu__list--inner">
                        <li class="nav-menu__list--subcategory t6 regular">Acoustic</li>
                        <li class="nav-menu__list--subcategory t6 regular">Electric</li>
                        <li class="nav-menu__list--subcategory t6 regular">Cymbals</li>
                        <li class="nav-menu__list--subcategory t6 regular">Accessories</li>
                    </ul>
                    <li class="nav-menu__list--category t3 upper regular">Account</li>
                    <ul class="nav-menu__list--inner">
                        <li class="nav-menu__list--subcategory t6 regular">My Details</li>
                        <li class="nav-menu__list--subcategory t6 regular">My Orders</li>
                        <li class="nav-menu__list--subcategory t6 regular">Payment Info</li>
                        <li class="nav-menu__list--subcategory t6 regular">Change Password</li>
                    </ul>
                    <li class="nav-menu__list--category t3 upper regular">Contact Us</li>
                    <li class="nav-menu__list--category t3 upper regular">Logout</li>
                </ul>
            </div>
        </nav>
        {% block header %}{% endblock header %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="connect">
            <div class="connect__heading">
                <h3 class="connect__heading--main bold upper t4">Stay Connected</h3>
                <h4 class="connect__heading--sub regular upper t7">Sign Up To Our Newsletter</h4>
            </div>
            <div class="connect__newsletter">
            <input type="text" class="connect__newsletter--input input-text t7" placeholder="Enter your email">
            <button type="submit" class="connect__newsletter--button btn btn--primary t6 upper bold">Sign Up</button>
            </div>
            <div class="connect__social">
                <i class="connect__social--icon fab fa-facebook-square"></i>
                <i class="connect__social--icon fab fa-twitter-square"></i>
                <i class="connect__social--icon fab fa-instagram-square"></i>
                <i class="connect__social--icon fab fa-whatsapp-square"></i>

            </div>
        </div>
        <div class="navigate">
            <h3 class="navigate__heading bold upper t4">Navigate</h3>
            <div class="navigate__sections">
                <div class="navigate__section">
                    <h5 class="navigate__section--heading t6 regular">Department</h5>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="navigate__section">
                    <h5 class="navigate__section--heading t6 regular">Department</h5>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="navigate__section">
                    <h5 class="navigate__section--heading t6 regular">Department</h5>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="navigate__section">
                    <h5 class="navigate__section--heading t6 regular">Department</h5>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="navigate__section--text t7 regular">
                        <p>Section</p><i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact regular t8">
            <h5 class="contact__heading upper t7">Rhythmbox Stores</h5>
            <p class="contact__address">14 South Dock Avenue, Grand Canal Dock, Dublin 4, Ireland</p>
            <p class="contact__number">+353 01 1234 567</p>
            <p class="contact__email">therhythmbox@gmail.com</p>
        </div>
    </footer>
    <script src="{% static 'store/scripts/app.js' %}"></script>
</body>
</html>