{% extends 'store/base.html' %}

{% block title %}Homepage{% endblock title %}

{% block header %}
    <header class="header">
        <div class="header__heading">
            <h1 class="header__heading--main t1 bold upper">The Rhythm Box</h1>
            <h1 class="header__heading--sub subtitle t2 light upper">Professional Drums For Studio and Stage</h1>
        </div>
        <div class="header__link">
            <a href="#" class="btn-landing t6 upper regular">Shop All Products</a>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <div class="categories">
        <div class="category category--acoustic">
            <h3 class="category__text t2 bold upper">Acoustic</h3>
        </div>
        <div class="category category--electric">
            <h3 class="category__text t2 bold upper">Electric</h3>
        </div>
        <div class="category category--cymbals">
            <h3 class="category__text t2 bold upper">Cymbals</h3>
        </div>
        <div class="category category--accessories">
            <h3 class="category__text t2 bold upper">Accessories</h3>
        </div>
    </div>
{% endblock content %}
