{% extends 'store/base.html' %}

{% block title %}Shop{% endblock title %}

{% block content %}

<div class="products">
{% for product in products %}
    <div class="product">
        <div class="product__images">
            <img src="{{ product.thumbnail.url }}" alt="" class="product__images--product">
            <img src="{{ product.brand.logo.url }}" alt="" class="product__images--brand">
        </div>
        <div class="product__title">
            <h2 class="product__title--text bold t3">{{ product.title }}</h2>
        </div>
        <div class="product__reviews">
            <div class="star-rating">
                <div class="star-rating__upper" style="width: 73%">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
                <div class="star-rating__lower">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
            </div>
            <div class="product__reviews--count regular t9"><p>{{ product.num_ratings }} Reviews</p></div>
        </div>
        <div class="product__nums">
            <h3 class="product__nums--price t3 bold">€{{ product.price|floatformat:"-2" }}</h3>
            <p class="product__nums--stock t7 bold">12 in stock</p>
        </div>
        <div class="product__buttons">
        {% if product.type %}
            <a href="{% url 'product_page' product.category.slug product.subcategory.slug product.type.slug product.slug %}" class="product__buttons--info btn btn--white t5 bold">More Info</a>
        {% else %}
            <a href="{% url 'product_page' product.category.slug product.subcategory.slug product.slug %}" class="product__buttons--info btn btn--white t5 bold">More Info</a>
        {% endif %}
            <a href="" class="product__buttons--cart btn btn--black t5 regular">Add to Cart</a>
        </div>
    </div>
{% endfor %}

</div>

<div class="" style="padding: 3rem 1rem;">
<ul>
{% for category in categories %}
    <li>{{ category.title }}</li>
        <ul>
            {% for subcategory in category.subcategories.all %}
                <li style="margin-left: 1rem">{{ subcategory.title }}</li>
                {% for type in subcategory.types.all %}
                    <li style="margin-left: 2rem">{{ type.title }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
{% endfor %}
</ul>
<hr>
<div class="" style="margin: 2rem auto;">

{% for item in products %}
    <p>{{item.title}}</p>
    <div class="" style="margin: 0 2rem">
        <p>{{ item.category }}</p>
    </div>
{% endfor %}
</div>
</div>


{% endblock content %}
