{% extends 'store/base.html' %}

{% load store_tags %}
{% load humanize %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}

{% comment %} PRODUCT SEARCH, SORT & FILTER {% endcomment %}
<div class="filters">
    {% comment %} SEARCH BAR {% endcomment %}
    <form class="filters__search">
        <input type="text" class="filters__search--input form__input t6 regular" placeholder="Search products...">
        <button class="filters__search--button btn btn--black t6 regular">Search</button>
    </form>

    {% comment %} FILTER BUTTON - MOBILE {% endcomment %}
    <button class="filters__button btn btn--black t6 regular">Filter</button>

    {% comment %} FILTER MENU {% endcomment %}

    <div class="filters__menu closed">
        <h2 class="filters__menu--heading t2 bold upper">Filter</h2>
        <hr>
        <a class="filters__list--link regular t5 bold" href="{% url 'shop' %}">All Products</a>
        {% for category in categories %}
            <ul class="filters__list level-1">
            <hr>
                <li><a class="filters__list--link regular t5 bold" href="{% url 'shop' category.slug %}">{{ category.title }}</a></li>
                {% for subcategory in category.subcategories.all %}
                <ul class="filters__list level-2">
                    <li><a class="filters__list--link regular t6" href="{% url 'shop' category.slug subcategory.slug %}">{{ subcategory.title }}</a></li>
                    {% for type in subcategory.types.all %}
                        <ul class="filters__list level-3">
                            <li><a class="filters__list--link regular t7" href="{% url 'shop' category.slug subcategory.slug type.slug %}">{{ type.title }}</a></li>
                        </ul>
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    {% comment %} SORT SELECT OPTION {% endcomment %}
    <div class="filters__sort dropdown">
        <button id="product-sort-button" class="filters__sort--button btn btn--white t6 regular dropdown__button">Sort Products<i class="fas fa-chevron-down"></i></button>
        <div id="product-sort-list" class="filters__sort--list dropdown__list">
            <a href="#" class="dropdown__list--link regular t7">Highest Rated</a>
            <a href="?{% url_replace request 'order_by' 'price' %}" class="dropdown__list--link regular t7">Price (Low to High)</a>
            <a href="?{% url_replace request 'order_by' '-price' %}" class="dropdown__list--link regular t7">Price (High to Low)</a>
            <a href="?{% url_replace request 'order_by' '-date_added' %}" class="dropdown__list--link regular t7">Newest Items</a>
        </div>
    </div>
</div>

{% comment %} DISPLAYED PRODUCTS {% endcomment %}

<div class="products">
{% for product in products %}
    <div class="product">
        <div class="product__images">
            <img src="{{ product.thumbnail.url }}" alt="" class="product__images--product">
            <img src="{{ product.brand.logo.url }}" alt="" class="product__images--brand">
        </div>
        <div class="product__title">
            <h2 class="product__title--text bold t3">{{ product.title }}</h2>
        </div>
        <div class="product__reviews">
            <div class="star-rating">
                <div class="star-rating__upper" style="width: 73%">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
                <div class="star-rating__lower">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
            </div>
            <div class="product__reviews--count regular t9"><p>{{ product.num_ratings }} Reviews</p></div>
        </div>
        <div class="product__nums">
            <h3 class="product__nums--price t3 bold">€{{ product.price|floatformat:"-2"|intcomma }}</h3>
            <p class="product__nums--stock t7 bold">12 in stock</p>
        </div>
        <div class="product__buttons">

        {% if product.type %}
        {% comment %} PRODUCT LINK (for items without a type) {% endcomment %}
            <a href=
            "{% url 'product_page' product.category.slug product.subcategory.slug product.type.slug product.slug %}"
            class="product__buttons--info btn btn--white t5 bold">More Info</a>

        {% else %}
        {% comment %} PRODUCT LINK (for items with a type) {% endcomment %}
            <a href=
            "{% url 'product_page' product.category.slug product.subcategory.slug product.slug %}"
            class="product__buttons--info btn btn--white t5 bold">More Info</a>
        {% endif %}
            <a href="" class="product__buttons--cart btn btn--black t5 regular">Add to Cart</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'store/scripts/shop.js' %}"></script>
{% endblock js %}
