{% load static %}
{% load store_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>The RhythmBox - {% block title %}{% endblock title %}</title>
    <meta name="title" content="The RhythmBox">
    <meta name="description" content="The RhythmBox is an ecommerce store for professional-grade drums, cymbals and drumming equipment">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://therhythmbox.herokuapp.com/">
    <meta property="og:title" content="The RhythmBox">
    <meta property="og:description" content="The RhythmBox is an ecommerce store for professional-grade drums, cymbals and drumming equipment">
    <meta property="og:image" content="https://res.cloudinary.com/cjcon90/image/upload/v1624905692/codeinstitute/the_rhythm_box/preview_image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://therhythmbox.herokuapp.com/">
    <meta property="twitter:title" content="The RhythmBox">
    <meta property="twitter:description" content="The RhythmBox is an ecommerce store for professional-grade drums, cymbals and drumming equipment">
    <meta property="twitter:image" content="https://res.cloudinary.com/cjcon90/image/upload/v1624905692/codeinstitute/the_rhythm_box/preview_image.png">
    <!-- Favicon Ico -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- Essential preload JS -->
    {% block pre_js %}{% endblock pre_js %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
        <nav class="nav">
            <div class="nav__hamburger">
            <!-- Hamburger design inspired by Jesse Couch: https://codepen.io/designcouch/pen/Atyop -->
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav__logo">
                <a href="{% url 'home' %}"><img src="https://res.cloudinary.com/cjcon90/image/upload/v1621514847/codeinstitute/the_rhythm_box/logo.webp" alt="The Rhythm Box logo" class="nav__logo--img"></a>
            </div>
            <div class="nav-menu nav-hidden">
                <ul class="nav-menu__list">
                    <li class="nav-menu__list--category regular">
                        <a href="{% url 'shop' %}">Shop</a>
                        <ul class="nav-menu__list--inner nav-desk-hidden">
                        {% for category in categories %}
                            <li class="nav-menu__list--subcategory regular"><a href="{% url 'shop' category.slug %}">{{ category.title|cut:' Drums' }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-menu__list--category regular">
                        <a href="{% url 'account_details' %}">Account</a>
                        <ul class="nav-menu__list--inner nav-desk-hidden">
                            <li class="nav-menu__list--subcategory regular"><a href="{% url 'account_details' %}">My Details</a></li>
                            <li class="nav-menu__list--subcategory regular"><a href="{% url 'my_orders' %}">My Orders</a></li>
                            <li class="nav-menu__list--subcategory regular"><a href="{% url 'password_reset' %}">Change Password</a></li>
                        </ul>
                    </li>    
                    {% else %}
                    <li class="nav-menu__list--category upper regular"><a href="{% url 'register' %}">Register</a></li>
                    <li class="nav-menu__list--category upper regular"><a href="{% url 'login' %}">Login</a></li>
                    
                    {% endif %}
                
                    <li class="nav-menu__list--category upper regular"><a href="{% url 'contact' %}">Contact Us</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-menu__list--category upper regular"><a href="{% url 'logout' %}">Logout</a></li>                    
                    {% endif %}
                </ul>
            </div>
            
            <!-- Shopping Cart -->
            <a href="{% url 'cart' %}" class="nav__cart" aria-label="Shopping Cart">
                <div class="nav__cart--cart">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                {% if product_count %}
                    <div class="nav__cart--count">
                        <p class="bold">{{ product_count }}</p>
                    </div>
                {% endif %}
            </a>
        </nav>

    <!-- Load Header Content -->
    {% block header %}{% endblock header %}

    <main>
    <!-- Main website content -->
        {% block content %}{% endblock %}
    </main>

    <!-- Load any user messages -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {% include 'store/_toast.html' with message=message tag=message.tags %}
            {% else %}
                {% include 'store/_toast.html' with message=message %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Footer -->
    <footer class="footer">
            <div class="connect">
                <div class="connect__heading">
                    <p class="connect__heading--main bold upper">Stay Connected</p>
                    <p class="connect__heading--sub regular upper">Sign Up To Our Newsletter</p>
                </div>
                <form class="connect__newsletter" method="POST" action="{% url 'newsletter_subscribe' %}?next={{ request.path }}">
                    {% csrf_token %}
                    <input type="email" name="email" class="connect__newsletter--input input-text" placeholder="Enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
                    {% if request.user.is_authenticated %}value="{{ request.user.email }}" readonly{% endif %}>
                    <button type="submit" class="connect__newsletter--button btn btn--primary upper bold">Sign Up</button>
                </form>
                <div class="connect__social">
                    <a href="https://facebook.com" rel="noreferrer nooopener" target="_blank" class="connect__social--link" aria-label="Facebook Page"><i class="connect__social--icon fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com" rel="noreferrer nooopener" target="_blank" class="connect__social--link" aria-label="Twitter Page"><i class="connect__social--icon fab fa-twitter-square"></i></a>
                    <a href="https://instagram.com" rel="noreferrer nooopener" target="_blank" class="connect__social--link" aria-label="Instagram Page"><i class="connect__social--icon fab fa-instagram-square"></i></a>
                    <a href="https://www.whatsapp.com" rel="noreferrer nooopener" target="_blank" class="connect__social--link" aria-label="Whatsapp Page"><i class="connect__social--icon fab fa-whatsapp-square"></i></a>
                </div>
            </div>
            <div class="navigate">
                <p class="navigate__heading bold upper">Navigate</p>
                <div class="navigate__sections">
                {% for category in categories %}
                    <div class="navigate__section">
                        <a href="{% url 'shop' category=category.slug %}" class="navigate__section--heading regular">{{ category.title|cut:' Drums' }}</a>
                        {% for subcategory in category.subcategories.all %}
                        <a href="{% url 'shop' %} subcategory=subcategory.slug" class="navigate__section--text regular">
                            {{ subcategory }}<i class="fas fa-chevron-right"></i>
                        </a>
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="contact regular">
                <p class="contact__heading upper">Rhythmbox Stores</p>
                <p class="contact__address">14 South Dock Avenue, Grand Canal Dock, Dublin 4, Ireland</p>
                <p class="contact__number">+353 01 1234 567</p>
                <a href="mailto:rhythmboxstores@gmail.com" class="contact__email">rhythmboxstores@gmail.com</a>
            </div>
    </footer>

    <!-- Main JS file -->
    <script type="module" src="{% static 'scripts/app.js' %}"></script>

    <!-- Load other page specific scripts -->
    {% block post_js %}{% endblock post_js %}

</body>
</html>