{% extends 'store/base.html' %}

{% block title %}Homepage{% endblock title %}

<!-- Hero Image -->
{% block header %}
    <header class="header header--home">
        <div class="header__heading">
            <h1 class="header__heading--main bold upper">The Rhythm Box</h1>
            <h2 class="header__heading--sub subtitle light upper">Professional Drums For Studio and Stage</h2>
        </div>
        <div class="header__link">
            <a href="{% url 'shop' %}" class="header__link--text upper regular">Shop All Products</a>
        </div>
    </header>
{% endblock header %}

<!-- Category Links -->
{% block content %}
    <div class="categories">
    {% for category in categories %}
        <div class="category category--{{ category.title|cut:' Drums'|lower }}">
            <a href="{% url 'shop' category.slug %}" class="category__text bold upper">{{ category.title|cut:' Drums' }}</a>
        </div>  
    {% endfor %}
    </div>

{% endblock content %}
