{% load store_tags %}

<ul class="pagination">

    <!-- PREVIOUS PAGE ARROW -->
    {% if page_obj.has_previous %}
        <li><a  class="pagination__link pagination__link--chevron" href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="Previous Page of products"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
    {% else %}
        <li class="pagination__link pagination__link--chevron disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
    {% endif %}

    <!-- FIRST PAGE -->
    {% if 1 < page_obj.number|add:'-1' %}
        <li><a class="pagination__link" href="?{% url_replace request 'page' 1 %}" aria-label="First Page of products">1</a></li>
    {% endif %}

    <!-- PREVIOUS PAGE -->
    {% if page_obj.has_previous %}
        <li><a class="pagination__link" href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="Previous Page of products">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}

    <!-- CURRENT PAGE -->
    <li><span class="pagination__link pagination__link--current">{{ page_obj.number }}</span></li>

    <!-- NEXT PAGE -->
    {% if page_obj.has_next %}
        <li><a class="pagination__link" href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="Next Page of products">{{ page_obj.next_page_number }}</a></li>
    {% endif %}

    <!-- LAST PAGE -->
    {% if page_obj.paginator.num_pages > page_obj.number|add:'1' %}
        <li><a class="pagination__link" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}" aria-label="Last Page of products">{{page_obj.paginator.num_pages}}</a></li>
    {% endif %}

    <!-- NEXT PAGE ARROW -->
    {% if page_obj.has_next %}
        <li><a  class="pagination__link pagination__link--chevron" href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="Next Page of products"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
    {% else %}
        <li class="pagination__link pagination__link--chevron disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
    {% endif %} 

</ul>