{% extends 'store/base.html' %}

{% load store_tags %}
{% load humanize %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}

<div class="shop">
    <div class="filters__menu filters__menu--desktop">
        <h2 class="filters__menu--heading bold upper">Filter</h2>
        <hr>
        <ul class="filters__list level-1">
            <li>
                <a class="filters__list--link regular bold" href="{% url 'shop' %}">All Products</a>
            </li>
        </ul>
        {% for category in categories %}
            <ul class="filters__list level-1">
            <li>
                <hr>
            </li>
                <li><a class="filters__list--link regular bold" href="{% url 'shop' category.slug %}">{{ category.title }}</a></li>
                {% for subcategory in category.subcategories.all %}
                    <li>
                        <ul class="filters__list level-2">
                            <li><a class="filters__list--link regular" href="{% url 'shop' category.slug subcategory.slug %}">{{ subcategory.title }}</a></li>
                            {% for type in subcategory.types.all %}
                                <li>
                                    <ul class="filters__list level-3">
                                        <li><a class="filters__list--link regular" href="{% url 'shop' category.slug subcategory.slug type.slug %}">{{ type.title }}</a></li>
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <li class="filters__list--link filters__list--brand regular bold">Brands</li>
                <li>
                    <ul class="filters__list level-2">
                        {% for brand in category_brands|key:category %}
                            <li><a class="filters__list--link regular" href="{% url 'shop' category.slug %}?brand={{ brand.lower|urlencode }}">{{ brand }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    </div>
    
    <div class="shop-main">
        <!-- PRODUCT SEARCH, SORT & FILTER -->
        <div class="filters">
            <!-- SEARCH BAR -->
            <form action="{% url 'shop' %}" method="GET" class="filters__search">
                <input type="text" name="q" class="filters__search--input form__input regular" placeholder="Search products..." required>
                <button class="filters__search--button btn btn--black regular">Search</button>
            </form>
    
            <!-- FILTER BUTTON - MOBILE -->
            <button class="filters__button btn btn--black regular">Filter</button>
    
            <!-- FILTER MENU MOBILE -->
    
            <div class="filters__menu filters__menu--mobile closed">
                <h2 class="filters__menu--heading bold upper">Filter</h2>
                <hr>
                <ul class="filters__list level-1">
                    <li>
                        <a class="filters__list--link regular bold" href="{% url 'shop' %}">All Products</a>
                    </li>
                </ul>
                {% for category in categories %}
                    <ul class="filters__list level-1">
                    <li>
                        <hr>
                    </li>
                        <li><a class="filters__list--link regular bold" href="{% url 'shop' category.slug %}">{{ category.title }}</a></li>
                        {% for subcategory in category.subcategories.all %}
                            <li>
                                <ul class="filters__list level-2">
                                    <li><a class="filters__list--link regular" href="{% url 'shop' category.slug subcategory.slug %}">{{ subcategory.title }}</a></li>
                                    {% for type in subcategory.types.all %}
                                        <li>
                                            <ul class="filters__list level-3">
                                                <li><a class="filters__list--link regular" href="{% url 'shop' category.slug subcategory.slug type.slug %}">{{ type.title }}</a></li>
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        <li class="filters__list--link filters__list--brand regular bold">Brands</li>
                        <li>
                            <ul class="filters__list level-2">
                                {% for brand in category_brands|key:category %}
                                    <li><a class="filters__list--link regular" href="{% url 'shop' %}?brand={{ brand.lower|urlencode }}">{{ brand }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endfor %}
            </div>
    
    
            <!-- SORT OPTION -->
            <div class="filters__sort dropdown">
                <button id="product-sort-button" class="filters__sort--button btn btn--white regular dropdown__button">Sort Products<i class="fas fa-chevron-down"></i></button>
                <div id="product-sort-list" class="filters__sort--list dropdown__list">
                    <a href="?{% url_replace request 'order_by' 'rating' %}" class="dropdown__list--link regular">Highest Rated</a>
                    <a href="?{% url_replace request 'order_by' 'price' %}" class="dropdown__list--link regular">Price (Low to High)</a>
                    <a href="?{% url_replace request 'order_by' '-price' %}" class="dropdown__list--link regular">Price (High to Low)</a>
                    <a href="?{% url_replace request 'order_by' '-date_added' %}" class="dropdown__list--link regular">Newest Items</a>
                </div>
            </div>
        </div>
    
        <!-- DISPLAYED PRODUCTS -->
    
        <div class="products">
    
            {% if page_obj %}
                <div class="products__grid">
                    {% for product in page_obj %}
                        <div class="product">
                            <div class="product__images">
                                <img src="{{ product.thumbnail.url }}" alt="" class="product__images--product">
                                <img src="{{ product.brand.logo.url }}" alt="" class="product__images--brand">
                            </div>
                            <div class="product__title">
                                <h2 class="product__title--text bold">{{ product.title }}</h2>
                            </div>
                            <div class="product__reviews">
                                <!-- STAR RATING -->
                                {% include 'products/_star-rating.html' with rating=product.get_average_rating %}
                                <!-- REVIEW COUNT -->
                                <div class="product__reviews--count regular"><p>{% display_count 'rating' product.get_rating_count %}</p></div>
                            </div>
                            <div class="product__nums">
                                <!-- PRODUCT PRICE AND STOCK -->
                                <h3 class="product__nums--price bold">€{{ product.price|floatformat:"-2"|intcomma }}</h3>
                                {% if product.stock %}
                                <p class="product__nums--stock bold">{{ product.stock | display_stock }} in stock</p>
                                {% else %}
                                <p class="product__nums--stock--out bold upper">Out of stock</p>
                                {% endif %}
                            </div>
                            <!-- PRODUCT INFO & ADD TO CART BUTTONS -->
                            <div class="product__buttons">
                            {% if product.type %}
                            <!-- PRODUCT LINK (for items without a type) -->
                                <a href=
                                "{% url 'product_page' product.category.slug product.subcategory.slug product.type.slug product.slug %}"
                                class="product__buttons--info btn btn--white bold">Product Info</a>
                            {% else %}
                            <!-- PRODUCT LINK (for items with a type) -->
                                <a href="{% url 'product_page' product.category.slug product.subcategory.slug product.slug %}"
                                class="product__buttons--info btn btn--white bold">Product Info</a>
                            {% endif %}
                                <a data-product="{{ product.pk }}" data-action="add" href="{% url 'add_to_cart' product.id %}"
                                class="product__buttons--cart btn btn--black regular update-cart {% if product.stock == 0 %}btn--black--disabled{% endif %}">Add to Cart</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- PAGINATION -->
                {% block pagination %}
                    {% include 'store/pagination.html' %}
                {% endblock pagination %}
            {% else %}
                <p class="products-none__text regular">No products matching your query!</p>
                <a href="{% url 'shop' %}" class="products-none__button btn btn--black regular">Back to All Products</a>
            {% endif %}
    
    
        </div>
    </div>
</div>

{% endblock content %}

{% block post_js %}
<script type="module" src="{% static 'scripts/shop.js' %}"></script>
{% endblock post_js %}
