html {
  box-sizing: border-box;
  font-size: 62.5%;
  @include respond(xs) {
    font-size: 50%;
  }
  @include respond(md) {
    font-size: 67.5%;
  }
  @include respond(lg) {
    font-size: 55%;
  }
  @include respond(xl) {
    font-size: 62.5%;
  }
  @include respond(xxl) {
    font-size: 100%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 6rem; // off-set navbar height
  min-height: 75vh;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
