{% extends 'store/base.html' %}

{% load static %}
{% load humanize %}
{% load cart_tags %}
{% load store_tags %}
{% load widget_tweaks %}

{% block title %}Checkout{% endblock title %}



{% block content %} 
    <h2 class="section__heading upper bold">Thank You</h2>
    <div class="order-confirmation-text regular">
        <p>Your order has been completed!</p>
        <p>Your order number is<br><strong>#{{ order.order_number }}</strong></p>
        <p>A confirmation email has been sent to<br><strong>{{ request.user }}</strong></p>
        <p class="checkout-form__heading order-confirmation-text--info light">Your order information is below:</p>
    </div>
    <div class="checkout order-confirmation-summary">
        <div class="checkout-summary">
            <h3 class="checkout-summary__heading light">Order Items ({{ order.lineitems.all|length }})</h3>
            <table class="checkout-summary__table regular">
                <tr class="checkout-summary__table__headings bold">
                    <th class="checkout-summary__table__headings--image"></th>
                    <th class="checkout-summary__table__headings--item">Item</th>
                    <th class="checkout-summary__table__headings--quantity">Quantity</th>
                    <th class="checkout-summary__table__headings--subtotal">Price</th>
                </tr>
                {% for item in order.lineitems.all %}
                <tr class="checkout-summary__table__data">
                    <td class="checkout-summary__table__data--image"><img src="{{ item.product.image.url }}" alt=""></td>
                    <td class="checkout-summary__table__data--title">{{ item.product.title }}</td>
                    <td class="checkout-summary__table__data--quantity">{{ item.quantity }}</td>
                    <td class="checkout-summary__table__data--price">€{{ item.product.price|floatformat:"-2"|intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="checkout-summary-totals">
                <div class="checkout-summary-totals--order">
                    <p class="checkout-summary-totals__label regular">Order Total:</p>
                    <p class="checkout-summary-totals__data regular">€{{ order.order_total|floatformat:"-2"|intcomma }}</p>
                </div>
                <div class="checkout-summary-totals--delivery">
                    <p class="checkout-summary-totals__label regular">Delivery:</p>
                    <p class="checkout-summary-totals__data regular">€{{ order.delivery_cost|floatformat:"-2"|intcomma }}</p>
                </div>
                <div class="checkout-summary-totals--grand">
                    <p class="checkout-summary-totals__label bold">Grand Total:</p>
                    <p class="checkout-summary-totals__data bold">€{{ order.grand_total|floatformat:"-2"|intcomma }}</p>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock content %}

{% block post_js %}
<script type="module" src="{% static 'scripts/quantitySelect.js' %}"></script>
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'scripts/stripeElements.js' %}"></script>
{% endblock post_js %}