{% extends 'store/base.html' %}

{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}Checkout{% endblock title %}

{% block pre_js %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock pre_js %}

{% block content %} 
    <h2 class="section__heading upper bold">Checkout</h2>
    <div class="checkout">
        <div class="checkout-form">
            <h3 class="checkout-form__heading light">Delivery Details</h3>
            <form id="payment-form" method="POST" action="{% url 'checkout' %}" class="form">
                {% csrf_token %}
                {% for field in order_form %}
                <fieldset class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label bold">{{ field.label }}</label>
                    {% if field.id_for_label == "id_phone_number" %}
                        {{ field|add_class:'form__input regular'|attr:"type:tel"|attr:"pattern:^(\+)?([ 0-9]){10,16}$" }}
                    {% else %}
                        {{ field|add_class:'form__input regular' }}
                    {% endif %}
                    {% for error in field.errors %}
                    <span class="form__error bold">{{ error }}</span>
                    {% endfor %}
                </fieldset>
                {% endfor %}
                {% for error in field.errors %}
                    <span class="form__error bold">{{ error }}</span>
                {% endfor %}
                <fieldset class="form__group form__group--checkbox">
                    <div class="checkbox-outer">
                        <input id="make_default_shipping" name="make_default_shipping" type="checkbox" />
                        <label for="make_default_shipping" class="checkbox-inner"></label>
                    </div>
                    <label for="checkbox" class="form__label regular">Make default shipping address</label>
                </fieldset>
                <fieldset class="form__group">
                    <label for="card-element" class="card-element__label light">Payment</label>
                    <!-- A Stripe card element will go here -->
                    <div id="card-element"></div>
                    <div class="card-errors bold form-error bold"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <fieldset class="form__group">
                    <button type="submit" class="form__submit btn btn--black upper bold">Complete Order</button>
                </fieldset>
            </form>
        </div>
        <div class="checkout-summary">
            <h3 class="checkout-summary__heading light">Order Items ({{ product_count }})</h3>
            <table class="checkout-summary__table regular">
                <tr class="checkout-summary__table-headings regular bold">
                    <th class="checkout-summary__table regular__headings--image"></th>
                    <th class="checkout-summary__table regular__headings--item">Item</th>
                    <th class="checkout-summary__table regular__headings--quantity">Quantity</th>
                    <th class="checkout-summary__table regular__headings--subtotal">Price</th>
                </tr>
                {% for item in cart_items %}
                <tr class="checkout-summary__table-data regular">
                    <td class="checkout-summary__table-data--image regular"><img src="{{ item.product.image.url }}" alt=" regular"></td>
                    <td class="checkout-summary__table-data--title regular">{{ item.product.title }}</td>
                    <td class="checkout-summary__table-data--quantity regular">{{ item.quantity }}</td>
                    <td class="checkout-summary__table-data--price regular">€{{ item.price|floatformat:"-2"|intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="checkout-summary-totals">
                <div class="checkout-summary-totals--order">
                    <p class="checkout-summary-totals__label regular">Order Total:</p>
                    <p class="checkout-summary-totals__data regular">€{{ total|floatformat:"-2"|intcomma }}</p>
                </div>
                <div class="checkout-summary-totals--delivery">
                    <p class="checkout-summary-totals__label regular">Delivery:</p>
                    <p class="checkout-summary-totals__data regular">€{{ delivery|floatformat:"-2"|intcomma }}</p>
                </div>
                <div class="checkout-summary-totals--grand">
                    <p class="checkout-summary-totals__label bold">Grand Total:</p>
                    <p class="checkout-summary-totals__data bold">€{{ grand_total|floatformat:"-2"|intcomma }}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="loading-overlay no-display">
        <h1 class="bold loading__spinner">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </h1>
    </div>
{% endblock content %}

{% block post_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'scripts/stripeElements.js' %}"></script>
{% endblock post_js %}