{% extends 'store/base.html' %}

{% load widget_tweaks %}

{% block title %}Delete Account{% endblock title %}

{% block content %} 
    <h2 class="section__heading upper bold">Delete Account</h2>

    <form method="POST" action="{% url 'delete_account' %}" class="form" novalidate>
        {% csrf_token %}
        {% for field in delete_account_form %}
        <fieldset class="form__group">
            <label for="{{ field.id_for_label }}" class="form__label bold">{{ field.label }}</label>
            {{ field|add_class:'form__input regular' }}
            {% for error in field.errors %}
                <span class="form__error bold">{{ error }}</span>
            {% endfor %}
        </fieldset>
        {% endfor %}

        {% for error in field.errors %}
            <span class="form__error bold">{{ error }}</span>
        {% endfor %}

        <fieldset class="form__group">
            <button type="submit" class="form__submit btn btn--warning upper bold">Delete Account</button>
        </fieldset>
    </form>

    <div class="auth-redirect">
        <p class="auth-redirect__text--delete upper light">Changed Your mind?</p>
        <a href="{% url 'account_details' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="form__submit btn btn--white bold upper">Back to My Account</a>
    </div>
{% endblock content %}