{% extends 'store/base.html' %}

{% load widget_tweaks %}

{% block title %}Register{% endblock title %}

{% block content %} 
    <h2 class="section__heading upper bold">Register</h2>
    <form method="post" class="form" novalidate>
        {% csrf_token %}

        {% for field in registration_form %}
        <fieldset class="form__group">
            {% if field.name == 'newsletter' %}
                <label for="{{ field.id_for_label }}" class="form__label--radio regular">Would you like to receive updates on products, news and offers from Rhythm Box via our newsletter?</label>
                <div class="form__input--radio">
                    {% for radio in field %}
                        <label class="radio-btn" for="{{ radio.id_for_label }}">
                            <span class="radio-btn__label">{{radio.choice_label}}</span>
                                <!-- Set False selected by default and set correct values -->
                                {% if radio.id_for_label == 'id_newsletter_0' %}
                                    <input type="radio" name="newsletter" id="{{ radio.id_for_label }}"  value='True' checked>
                                {% else %}
                                    <input type="radio" name="newsletter" id="{{ radio.id_for_label }}"  value='False'>
                                {% endif %}
                            <span class="checkmark"></span>
                        </label>
                    {% endfor %}
                </div>
            {% else %}
                <label for="{{ field.id_for_label }}" class="form__label bold">{{ field.label }}</label>
                {{ field|add_class:'form__input regular' }}
            {% endif %}
            {% for error in field.errors %}
                <span class="form__error bold">{{ error }}</span>
            {% endfor %}
        </fieldset>
        {% endfor %}

        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        
        <fieldset class="form__group">
            <button type="submit" class="form__submit btn btn--black upper bold">Register</button>
        </fieldset>
    </form>
        <div class="auth-redirect">
        <p class="auth-redirect__text regular">Already have an account?</p>
        <a href="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="auth-redirect__btn btn btn--white dropdown-button regular">Log In Here</a>
    </div>
{% endblock content %}