.pagination {
    display: flex;
    margin: 4rem auto;
    justify-content: center;
    align-items: center;

    &__link {
        display: inline-block;
        border: solid $color-black-light .1rem;
        padding: .5rem 0;
        width: 4rem;
        text-align: center;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        color: $color-black;

            &:link, &:visited {
                color: $color-black-semi;
            }
            &:hover, &:focus {
                background-color: $color-black;
                color: $color-primary;
            }

            &--chevron {
                padding: .5rem 2rem;
                width: 6rem;
            }

    
            &--current {
                background-color: $color-black;
                color: $color-primary;
                font-weight: 700;
            }

        }
    }

    .disabled {
        color: $color-black-light;
        pointer-events: none;
    }