{% extends 'store/base.html' %}

{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}Checkout{% endblock title %}



{% block content %} 
    <h2 class="section__heading upper bold">Checkout</h2>
    <div class="checkout">
        <div class="checkout-form">
            <h3 class="checkout-form__heading t3 light">Delivery Details</h3>
            <form id="payment-form" method="POST" action="{% url 'checkout' %}" class="form">
                {% csrf_token %}
                {% for field in order_form %}
                <fieldset class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label t6 bold">{{ field.label }}</label>
                    {% if field.id_for_label == "id_phone_number" %}
                        {{ field|add_class:'form__input t5 regular'|attr:"type:tel"|attr:"pattern:^(\+)?([ 0-9]){10,16}$" }}
                    {% else %}
                        {{ field|add_class:'form__input t5 regular' }}
                    {% endif %}
                    {% for error in field.errors %}
                    <span class="form__error t7 bold">{{ error }}</span>
                    {% endfor %}
                </fieldset>
                {% endfor %}
                {% for error in field.errors %}
                    <span class="form__error t7 bold">{{ error }}</span>
                {% endfor %}
                <fieldset class="form__group">
                    <label for="card-element" class="t3 light">Payment</label>
                    <!-- A Stripe card element will go here -->
                    <div id="card-element"></div>
                    <div class="card-errors t7 bold"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <fieldset class="form__group">
                    <button type="submit" class="form__submit btn btn--black t3 upper bold">Complete Order</button>
                </fieldset>
            </form>
        </div>
        <div class="checkout-summary">
            <h3 class="checkout-summary__heading t4 light">Order Items ({{ product_count }})</h3>
            <table class="checkout-summary__table">
                <tr class="checkout-summary__table__headings bold t7">
                    <th class="checkout-summary__table__headings--image"></th>
                    <th class="checkout-summary__table__headings--item">Item</th>
                    <th class="checkout-summary__table__headings--quantity">Quantity</th>
                    <th class="checkout-summary__table__headings--subtotal">Price</th>
                </tr>
                {% for item in cart_items %}
                <tr class="checkout-summary__table__data">
                    <td class="checkout-summary__table__data--image"><img src="{{ item.product.image.url }}" alt=""></td>
                    <td class="checkout-summary__table__data--title">{{ item.product.title }}</td>
                    <td class="checkout-summary__table__data--quantity">{{ item.quantity }}</td>
                    <td class="checkout-summary__table__data--price">€{{ item.price|floatformat:"-2"|intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="checkout-summary-totals">
                <div class="checkout-summary-totals--order">
                    <p class="checkout-summary-totals__label regular t7">Order Total:</p>
                    <p class="checkout-summary-totals__data regular t7">€{{ total|floatformat:"-2"|intcomma }}</p>
                </div>
                <div class="checkout-summary-totals--delivery">
                    <p class="checkout-summary-totals__label regular t7">Delivery:</p>
                    <p class="checkout-summary-totals__data regular t7">€{{ delivery|floatformat:"-2"|intcomma }}</p>
                </div>
                <div class="checkout-summary-totals--grand">
                    <p class="checkout-summary-totals__label bold t6">Grand Total:</p>
                    <p class="checkout-summary-totals__data bold t6">€{{ grand_total|floatformat:"-2"|intcomma }}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="loading-overlay no-display">
        <h1 class="bold t1 loading__spinner">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </h1>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'scripts/stripeElements.js' %}"></script>
{% endblock js %}