.radio-btn {
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  & input {
    display: none;

    &:checked ~ .checkmark {
      /* changes from the video  */

      /*  content box origin will make sure the bg-image only stays inside content area in between padding  */
      background-origin: content-box;
      background-repeat: no-repeat;
      background-image: radial-gradient(
        circle at center,
        $color-black
          /* the size of the check mark is determined by subtracting from the size of the circle
           the border(both sides) and the gap(both sides) than dividing it by 2 to get the radius of the circle        */
          calc((2rem - (0.2rem * 2) - (0.3rem * 2)) / 2),
        rgba(255, 255, 255, 0) 0
      );
    }
  }

  &__label {
    font-size: 1.6rem;
    margin-left: 5px;
  }

  &[aria-label]::after {
    content: attr(aria-label);
    display: inline-block;
    margin-left: 5px;
  }

  & .checkmark {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.3s ease;
    /* changes from the video  */

    border: 0.2rem solid $color-black-semi;
    padding: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}
