// Source: https://gist.github.com/NullDev/464b08135138f1c1a135053a898b1a79
.star-rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: $color-black-light;
    font-size: 3.5rem;
    height: 3.5rem;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;

    &--small {
        font-size: 2.5rem;
    }

    &__upper {
        color: $color-primary;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__lower {
        padding: 0;
        display: flex;
        z-index: 0;
    }
}

// source: https://codepen.io/andreacrawford/pen/NvqJXW
.star-rate {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;

    .rating-group {
        display: inline-flex;
        border: none;
        display: flex;
        justify-content: space-evenly;
    }

    /* make hover effect work properly in IE */
    .rating__icon {
        pointer-events: none;
    }

    /* hide radio inputs */
    .rating__input {
        display: none;
    }

    /* hide 'none' input from screenreaders */
    .rating__input--none {
        display: none
    }

    /* set icon padding and size */
    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 2.5rem;
    }

    /* set default star color */
    .rating__icon--star {
        color: $color-primary;
    }

    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
        color: $color-black-light;
    }

    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
        color: $color-primary;
    }

    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
        color: $color-black-light;
    }
}