.toast {
    width: max-content;
    max-width: 90%;
    margin: auto;
    background-color: white;
    border: solid 1px $color-black;
    text-align: center;
    position: fixed;
    z-index: 9999;
    left: 0; right: 0;
    bottom: 2rem;
    display: flex;
    animation: toast-fade-in 0.5s, toast-fade-out 0.5s 3s forwards;

    @include respond(md) {
        bottom: 5rem;
    }
    @include respond(lg) {
        bottom: 10rem;
    }

    &__info{
        min-width: 5rem;
        min-height: 100%;
        padding: 1.5rem 0;
        font-size: 2rem;
        display: grid;
        place-items: center;
        @include respond(md) {
            font-size: 2.5rem; 
        }
    }

    &-star {
        background-color: $color-black;
        color: $color-primary;
    }

    &-check {
        background-color: $color-success;
        color: white;   
    }
    &-times-circle {
        background-color: red;
        color: white;
    }

    &__message {
        color: $color-black;
        padding: 1.5rem;
        font-size: 1.7rem;
        line-height: 2.5rem;
        letter-spacing: 1px;
        overflow: hidden;
        text-align-last: center;
        @include respond(md) {
            font-size: 2.25rem; 
        }
    }
}



