.checkout {
  color: $color-black-semi;
  display: flex;
  flex-direction: column-reverse;
  @include respond(md) {
    max-width: 60rem;
    margin: auto;
  }

  &-form {
    &__heading {
      font-size: 2.75rem;
      padding: 3rem 1.5rem;
    }
  }

  &-summary {
    padding: 0 2rem;
    margin: auto;

    &__heading {
      font-size: 2.25rem;
    }

    &__table {
      & tr {
        display: grid;
        grid-template-columns: 17.5% 32.5% 10% 1fr;
        align-items: center;
        justify-content: end;
        gap: 2rem;
        padding: 1rem 0;
        border-bottom: solid 1px $color-black-light;
        text-align: right;
      }
      &-headings {
        font-size: 1.5rem;
        color: $color-black;
        &--item {
          text-align: center;
        }
      }
      &-data {
        font-size: 1.6rem;
        &--title {
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }

    &-totals {
      margin-left: auto;
      font-size: 1.5rem;
      & > * {
        display: grid;
        grid-template-columns: 1fr 20%;
        justify-content: end;
        text-align: right;
        padding: 0.5rem;
        gap: 2rem;
      }

      &--grand {
        font-size: 1.75rem;
        color: $color-black;
      }
    }
  }
}

.card-element {
  &__label {
    font-size: 2.75rem;
  }
}
.card-errors {
  font-size: 1.5rem;
}

.order-confirmation-text {
  font-size: 1.75rem;
  text-align: center;
  color: $color-black-semi;
  line-height: 5rem;

  &--info {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0;
  }
}
.order-confirmation-summary {
  padding-bottom: 4rem;
}
