.password-reset {
    &__text {
        text-align: center;
        font-size: 1.8rem;
        padding: 1rem;
        color: $color-black-semi;
    }

    &__button {
        font-size: 1.6rem;
        padding: 1rem;
    }

    &-done {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
    }
}