.shop {
    @include respond(md) {
        display: grid;
        grid-template-columns: 25rem 1fr;
    }

    &-main {
        @include respond(md) {
            max-height: 100vh;
            overflow-y: scroll;
        }
    }
}
.filters {
    width: 35rem;
    max-width: 95vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 2rem;
    &__search {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        grid-column: 1 / 4;

        & > * {
            padding: .5rem;
        }
        
        &--input {
            width: 60%;
        }

        &--button {
            width: 33%;
        }
    }

    &__button {
        padding: .5rem;
        @include respond(md) {
            display: none;
              }
    }

    &__sort {
        width: 100%;
        grid-column: 2 / 4;
        grid-row:2 / 3;
        @include respond(md) {
        grid-column: 1 / 4;
        margin: 0;
        width: 100%;
          }

        & > * {
            // margin: 0 2rem;
            width: 100%;
        }
        &--button {
            display: flex;
            justify-content: space-between;
            height: 100%;
        }
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    place-items: center;
    

    &-none {
        &__text {
            font-size: 3rem;
            color: $color-black-semi;
            text-align: center;
            font-style: italic;
            padding: 3rem;
        }
        &__button{
            width: max-content;
            font-size: 2.5rem;
            margin-bottom: 3rem;
            padding: 1rem;
        }
    }
}

