@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transition-mix(
  $property: all,
  $duration: 0.2s,
  $timing: linear,
  $delay: 0s
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin not-last-child($selector) {
  // credit: https://stackoverflow.com/a/30687519
  & #{$selector}:not(:last-child) {
    @content;
  }
}

// Media Queries

@mixin respond($breakpoint) {
  @if $breakpoint == md {
    @media only screen and (min-width: 43.75em) {
      @content;
    } //700px (Tablet Portrait)
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: 75em) {
      @content;
    } //1200px (Small desktop)
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 87.5em) {
      @content;
    } //1400px (Large desktop)
  }
  @if $breakpoint == ls {
    @media only screen and (orientation: landscape) {
      @content;
    } //Landscape Orientation
  }
}
