$color-black: rgb(2, 6, 9);
$color-black-semi: rgba(2, 6, 9, .7);
$color-black-light: rgba(2, 6, 9, .3);
$color-primary: rgb(229, 235, 53);
$color-primary-semi: rgba(229, 235, 53, .7);
$color-success: rgb(0, 172, 0);
$color-warning-dark: rgb(173, 0, 0);
