.header {
    position: relative;
    background-color: $color-black;
    background-image: url('https://res.cloudinary.com/cjcon90/image/upload/v1621523920/codeinstitute/the_rhythm_box/hero.jpg');
    background-size: 85vh 85vh;
    background-position: left top;
    background-repeat: no-repeat;
    height: 70vh;
    z-index: 80;

    &__heading {
        color: white;
        padding: 15vh 0 0 1rem;
        &--main {
            color: $color-primary;
            letter-spacing: .4rem;
        }
        &--sub {
            max-width: 21ch;
            color: white;
            margin-top: 1rem;
        }
    }

    &__link {
        position: absolute;
        bottom: 5vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.categories {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    place-items: center;
    margin: 2.5rem auto;
    gap: 2.5rem;

    .category {
        width: 90vw;
        height: 90vw;
        box-shadow: 0 0 .5rem rgba(0,0,0,.3);
        background-size: cover;
        background-position: center center;
        display: grid;
        place-items: center;

        &--acoustic {
            background-image: url('https://res.cloudinary.com/cjcon90/image/upload/v1621541565/codeinstitute/the_rhythm_box/acoustic.jpg');
        }
        &--electric {
            background-image: url('https://res.cloudinary.com/cjcon90/image/upload/v1621541565/codeinstitute/the_rhythm_box/electric.jpg');
        }
        &--cymbals {
            background-image: url('https://res.cloudinary.com/cjcon90/image/upload/v1621541911/codeinstitute/the_rhythm_box/cymbals.jpg');
        }
        &--accessories {
            background-image: url('https://res.cloudinary.com/cjcon90/image/upload/v1621541565/codeinstitute/the_rhythm_box/accessories.jpg');
        }


        &__text {
            color: white;
            background-color: $color-black-semi;
            width: 80%;
            padding: 3rem;
            text-align: center;
            letter-spacing: .4rem;

        }
    }
}