.filters {
    width: 35rem;
    max-width: 95vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &__search {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        grid-column: 1 / 4;

        & > * {
            padding: .5rem;
        }
        
        &--input {
            width: 60%;
        }

        &--button {
            width: 33%;
        }
    }

    &__button {
        padding: .5rem;
    }

    &__sort {
        width: 100%;
        grid-column: 2 / 4;

        & > * {
            margin: 0 2rem;
            width: calc(100% - 2rem);
        }
        &--button {
            height: 100%;
        }
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

