{% extends 'store/base.html' %}

{% load static %}
{% load humanize %}
{% load cart_tags %}
{% load store_tags %}
{% load widget_tweaks %}

{% block title %}Shopping Cart{% endblock title %}


{% block content %} 
    <h2 class="section__heading upper bold">Cart</h2>
    {% if cart_items %}
        {% for cart_item in cart_items %}
        <hr class="cart-item__line">

            <div class="cart-item">
                <img class="cart-item__image" src="{{ cart_item.product.thumbnail.url }}" alt="Thumbnail image of {{ cart_item.product.title }}">
                <a href="" class="cart-item__remove light t5">Remove Item</a>
                <h2 class="cart-item__name regular t4 bold">{{ cart_item.product.title }}</h2>

                <form class="cart-item__quantity quantity-form" action="{% url 'add_to_cart' cart_item.product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="cart-item__quantity--select number-select">
                        <p class="cart-item__quantity--stock t7 bold">Quantity:</p>
                        <span class="input-number-decrement">–</span>
                        <input class="input-number" type="text" name="quantity" value="{{ cart_item.quantity }}"
                        max={% if cart_item.product.stock == 0 %}"{{ cart_item.quantity }}"{% else %}"{{ cart_item.product.stock }}"{% endif %}>
                        <span class="input-number-increment">+</span>
                    </div>

                    {% if cart_item.product.stock %}
                    <p class="cart-item__quantity--stock t7 bold">{% display_stock cart_item.product.stock %} in stock</p>
                    {% else %}
                    <p class="cart-item__quantity--stock--out t7 bold upper">Out of stock</p>
                    {% endif %}
                    <button type="submit" class="cart-item__quantity--submit btn btn--black bold t6">Update</button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>

                <p class="cart-item__price t3 bold">€{{ cart_item.price|floatformat:"-2"|intcomma  }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="cart-summary">
        <h3 class="cart-summary__heading light t4">Summary</h3>
        {% if free_delivery_delta == 0 %}
        <div class="cart-summary-check">
            <i class="fas fa-check cart-summary-check__icon--success t3"></i>
            <p class="cart-summary-check__text t7 regular">Your order qualifies for free delivery</p>
        </div>

        {% else %}
        <div class="cart-summary-check">
            <i class="fas fa-check cart-summary-check__icon--grey t4"></i>
            <span class="cart-summary-check__text t7 regular">
            You must spend <strong>€{{ free_delivery_delta }}</strong> more in order to qualify for free delivery.
            </span>
        </div>
        {% endif %}
        {% cart_in_stock cart_items as items_in_stock %}
        {% if  items_in_stock%}
        <div class="cart-summary-check">
        <i class="fas fa-check cart-summary-check__icon--success t4"></i>
            <p class="cart-summary-check__text t7 regular">All items are in stock</p>
        </div>
        {% else %}
        <div class="cart-summary-check">
        <i class="fas fa-times-circle cart-summary-check__icon--error t4"></i>
            <p class="cart-summary-check__text t7 regular">One or more of your cart items is not available. Please modify your shopping basket.</p>
        </div>
        {% endif %}


        <div class="cart-summary-pricing">
            <div class="cart-summary-pricing--items t6 regular">
                <p>Items Total</p>
                <p>€{{ total|floatformat:"-2"|intcomma   }}</p>
            </div>
            <div class="cart-summary-pricing--delivery t6 regular">
                <p>Delivery</p>
                <p>€{{ delivery|floatformat:"-2"|intcomma   }}</p>
            </div>
            <div class="cart-summary-pricing--total t5 bold">
                <p>Total</p>
                <p>€{{ grand_total|floatformat:"-2"|intcomma   }}</p>
            </div>
        </div>
        <a href="#" class="cart-summary-checkout btn btn--black t4 bold {% if not items_in_stock %}btn--black--disabled{% endif %}">Checkout</a>
    </div>
{% endblock content %}

{% block js %}
<script type="module" src="{% static 'scripts/quantitySelect.js' %}"></script>
{% endblock js %}