{% extends 'store/base.html' %}

{% load humanize %}
{% load static %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}

    {% comment %} PRODUCT INFO SECTION (images, price, description, stock, reviews & add to cart) {% endcomment %}
    <div class="product-info">
        <div class="product-info__images">
            <img src="{{ product.brand.logo.url }}" alt="" class="product-info__images--brand">
            <img src="{{ product.image.url }}" alt="" class="product-info__images--product">
        </div>
        <div class="product-info__title">
            <h3 class="product-info__title--price t2 bold">€{{ product.price|floatformat:"-2"|intcomma }}</h3>
            <h2 class="product-info__title--text bold t2">{{ product.title }}</h2>
        </div>
        <div class="product-info__reviews">
            {% include 'products/_star-rating.html' with rating=product.get_average_rating %}
            <h2 class="product-info__reviews--average t3 bold">{{product.get_average_rating_decimal|floatformat:-1}}</h2>
            <p class="product-info__reviews--number t7 regular">{{product.get_rating_count}}</p>
        </div>
        <form class="product-info__nums">
            <div class="product-info__nums--quantity">
                <span class="input-number-decrement">–</span>
                <input class="input-number" type="text" value="1" max="{{product.stock}}">
                <span class="input-number-increment">+</span>
            </div>
            {% if product.stock %}
            <p class="product__nums--stock t7 bold">{{product.stock}} in stock</p>
            {% else %}
            <p class="product__nums--stock--out t7 bold upper">Out of stock</p>
            {% endif %}
            <button type="submit" class="product-info__nums--submit btn btn--black bold t6">Add to Cart</button>
        </form>
        <div class="product-info__description">
            <h3 class="product-info__description--heading t2 bold">Description</h3>
            <p class="product-info__description--text regular t6">{{ product.description }}</p>

        </div>
    </div>
    <hr>

    {% comment %} PRODUCT REVIEW SECTION {% endcomment %}

    {% comment %} WRITE, FILTER & SORT BUTTONS {% endcomment %}
    <div class="reviews-buttons">
        <form class="reviews-buttons__rate star-rate">
            <fieldset class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
            </fieldset>
            <button type="submit" class="btn btn--white t6 regular dropdown__button"><i class="fas fa-star-half-alt"></i> Submit rating</button>
        </form>

        <div class="reviews-buttons__filter dropdown">
            <button id="reviews-filter-button" class="btn btn--white t6 regular dropdown__button">Filter by rating<i class="fas fa-chevron-down"></i></button>
            <div id="reviews-filter-list" class="filters__sort--list dropdown__list">
                <a href="#" class="dropdown__list--link regular t7">Highest Rated</a>
                <a href="#" class="dropdown__list--link regular t7">Price (Low to High)</a>
                <a href="#" class="dropdown__list--link regular t7">Price (High to Low)</a>
                <a href="#" class="dropdown__list--link regular t7">Newest Items</a>
            </div>
        </div>
        <div class="reviews-buttons__sort dropdown">
            <button id="reviews-sort-button" class="btn btn--white t6 regular dropdown__button">Sort Reviews<i class="fas fa-chevron-down"></i></button>
            <div id="reviews-sort-list" class="filters__sort--list dropdown__list">
                <a href="#" class="dropdown__list--link regular t7">Highest Rated</a>
                <a href="#" class="dropdown__list--link regular t7">Price (Low to High)</a>
                <a href="#" class="dropdown__list--link regular t7">Price (High to Low)</a>
                <a href="#" class="dropdown__list--link regular t7">Newest Items</a>
            </div>
        </div>
    </div>

    {% comment %} PRODUCT REVIEWS {% endcomment %}
    <div class="reviews-section">
        <h2 class="reviews-section__heading t5 bold">{{product.get_review_count}}</h2>
        {% comment %} DISPLAY EACH REVIEW (IF EXISTS) {% endcomment %}
        {% if reviews.count > 0 %}
            {% for review in reviews %}
                <div class="review">
                    <p class="review-author regular t8">{{ review.rating.user_id.first_name }} {{ review.rating.user_id.last_name|first }}.</p>
                    <p class="review-date light t7">{{review.date_added|date:'d.m.Y'}}</p>
                    {% include 'products/_star-rating-sm.html' with rating=review.rating.rating %}
                    <p class="review-headline bold t7">{{review.headline}}</p>
                    <p class="review-text regular t7">{{review.content}}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% if not my_review %}
            <a href="" class="reviews-section__button btn btn--white t6 regular dropdown__button"><i class="fas fa-pencil-alt"></i> Write a review</a>
        {% else %}
            <a href="" class="reviews-section__button btn btn--white t6 regular dropdown__button"><i class="fas fa-pencil-alt"></i> Edit review</a>
        {% endif %}
    </div>

{% endblock content %}

{% block js %}
<script type="module" src="{% static 'store/scripts/productPage.js' %}"></script>
{% endblock js %}