{% extends 'store/base.html' %}

{% load humanize %}
{% load static %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}

    {% comment %} PRODUCT INFO SECTION (images, price, description, stock, reviews & add to cart) {% endcomment %}
    <div class="product-info">
        <div class="product-info__images">
            <img src="{{ product.brand.logo.url }}" alt="" class="product-info__images--brand">
            <img src="{{ product.image.url }}" alt="" class="product-info__images--product">
        </div>
        <div class="product-info__title">
            <h3 class="product-info__title--price t2 bold">€{{ product.price|floatformat:"-2"|intcomma }}</h3>
            <h2 class="product-info__title--text bold t2">{{ product.title }}</h2>
        </div>
        <div class="product-info__reviews">
            {% include 'products/_star-rating.html' %}
            <div class="product-info__reviews--count regular t6"><p>15 Reviews</p></div>
        </div>
        <form class="product-info__nums">
            <div class="product-info__nums--quantity">
                <span class="input-number-decrement">–</span>
                <input class="input-number" type="text" value="1" max="{{product.stock}}">
                <span class="input-number-increment">+</span>
            </div>
            {% if product.stock %}
            <p class="product__nums--stock t7 bold">{{product.stock}} in stock</p>
            {% else %}
            <p class="product__nums--stock--out t7 bold upper">Out of stock</p>
            {% endif %}
            <button type="submit" class="product-info__nums--submit btn btn--black bold t6">Add to Cart</button>
        </form>
    </div>
    <hr>

    {% comment %} PRODUCT REVIEW SECTION {% endcomment %}
    <div class="reviews">
        <div class="reviews-nums">
            {% comment %} AVERAGE RATING {% endcomment %}
            <h2 class="reviews-nums__average t1 bold">4.8</h2>
            {% include 'products/_star-rating.html' %}
        </div>
    </div>

    {% comment %} WRITE, FILTER & SORT BUTTONS {% endcomment %}
    <div class="reviews-buttons">
        <div class="reviews-buttons__write">
            <a href="" class="btn btn--white t6 regular dropdown__button"><i class="fas fa-pencil-alt"></i> Write a review</a>
        </div>

        <div class="reviews-buttons__filter dropdown">
            <button id="reviews-filter-button" class="btn btn--white t6 regular dropdown__button">Filter by rating<i class="fas fa-chevron-down"></i></button>
            <div id="reviews-filter-list" class="filters__sort--list dropdown__list">
                <a href="#" class="dropdown__list--link regular t7">Highest Rated</a>
                <a href="#" class="dropdown__list--link regular t7">Price (Low to High)</a>
                <a href="#" class="dropdown__list--link regular t7">Price (High to Low)</a>
                <a href="#" class="dropdown__list--link regular t7">Newest Items</a>
            </div>
        </div>
        <div class="reviews-buttons__sort dropdown">
            <button id="reviews-sort-button" class="btn btn--white t6 regular dropdown__button">Sort Reviews<i class="fas fa-chevron-down"></i></button>
            <div id="reviews-sort-list" class="filters__sort--list dropdown__list">
                <a href="#" class="dropdown__list--link regular t7">Highest Rated</a>
                <a href="#" class="dropdown__list--link regular t7">Price (Low to High)</a>
                <a href="#" class="dropdown__list--link regular t7">Price (High to Low)</a>
                <a href="#" class="dropdown__list--link regular t7">Newest Items</a>
            </div>
        </div>
    </div>

    {% comment %} PRODUCT REVIEWS {% endcomment %}
    <div class="reviews-section">
        {% comment %} CORRECTLY FORMAT REVIEW SECTION HEADING {% endcomment %}
        {% if product.reviews.count == 0 %}
            <h2 class="reviews-section__heading t5 bold">No Reviews Yet!</h2>
            {% elif product.reviews.count == 1 %}
            <h2 class="reviews-section__heading t5 bold">{{product.reviews.count}} Review</h2>
            {% else %}
            <h2 class="reviews-section__heading t5 bold">{{product.reviews.count}} Reviews</h2>
        {% endif %}
        {% comment %} DISPLAY EACH REVIEW (IF EXISTS) {% endcomment %}
        {% if product.reviews.count > 0 %}
            {% for review in product.reviews.all %}
                <div class="review">
                    <p class="review-author regular t8">{{review.author.first_name}} {{ review.author.last_name|first }}.</p>
                    <p class="review-date light t7">{{review.date_added|date:'d.m.Y'}}</p>
                    {% include 'products/_star-rating-sm.html' with rating=review.rating%}
                    <p class="review-headline bold t7">{{review.headline}}</p>
                    <p class="review-text regular t7">{{review.content}}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}

{% block js %}
<script type="module" src="{% static 'store/scripts/productPage.js' %}"></script>
{% endblock js %}