@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto&display=swap');

a {
    text-decoration: none;
}
.light {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

.regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.bold {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.upper {
    text-transform: uppercase;
}

.t1 {
    font-size: 4.25rem;
}
.t2 {
    font-size: 3.5rem;
}
.t3 {
    font-size: 3rem;
}
.t4 {
    font-size: 2.5rem;
}
.t5 {
    font-size: 2.25rem;
}
.t6 {
    font-size: 1.85rem;
}
.t7 {
    font-size: 1.6rem;
}
.t8 {
    font-size: 1.4rem;
}
.t9 {
    font-size: 1.2rem;
}
