.account {
    &__paths {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        gap: 1rem;
        text-align: center;
        padding: 1rem;

        &--link {
            padding: 1rem 2rem;
        }

        &--current {

        }
    }
}