.cart-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
    "name image"
    "name image"
    "quantity price"
    "quantity remove";
    max-width: 90%;
    margin: 0 auto 4rem auto;
    gap: 1.5rem 3rem;
    align-items: end;

    &__line {
        max-width: 90%;
        margin-bottom: 3rem;
        color: $color-black-light;
    }
    &__image {
        grid-area: image;
        max-width: 90%;
    }
    &__name {
        grid-area: name;
        color: $color-black;
        align-self: center;
    }
    &__quantity {
        grid-area: quantity;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--stock {
            color: $color-black-semi;
            padding-bottom: .5rem;

            &--out {
                color: $color-warning-dark;
            }
        }
        &--select input {
            pointer-events: none;
        }
    }
    &__remove {
        grid-area: remove;
        text-decoration: underline;
        color: $color-black;
    }
    &__price {
        grid-area: price;
        color: $color-black;
    }
}

.cart-summary {
    max-width: 90%;
    border: solid 1px $color-black-semi;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-check {
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;
        gap: 2rem;

        & > i {
            text-align: center;
        }

        &__icon {
            &--success {
                color: green;
            }
            &--grey {
                color: $color-black-light;
            }
            &--error {
                color: $color-warning-dark;
            }
        }


    }
    &-pricing {
        padding-top: 2rem;
        border-top: 1px solid $color-black-semi;
        color: $color-black-semi;
        & > * {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
        }
        &--total {
            color: $color-black;
        }
    }
    &-checkout {
        padding: 1rem;
        text-align: center;
    }
}