{% extends 'store/base.html' %}

{% load store_tags %}
{% load humanize %}
{% load static %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}

    <!-- ========== PRODUCT INFO SECTION ========== -->

    <div class="product-info">

        <div class="product-info__images">
            <img src="{{ product.brand.logo.url }}" alt="" class="product-info__images--brand">
            <img src="{{ product.image.url }}" alt="" class="product-info__images--product">
        </div>

        <div class="product-info__title">
            <h3 class="product-info__title--price bold">€{{ product.price|floatformat:"-2"|intcomma }}</h3>
            <h2 class="product-info__title--text bold">{{ product.title }}</h2>
        </div>

        <div class="product-info__reviews">
            {% include 'products/_star-rating.html' with rating=product.get_average_rating %}
            <h2 class="product-info__reviews--average bold">{{product.get_average_rating_decimal|floatformat:-1}} / 5</h2>
            <p class="product-info__reviews--number regular">{% display_count 'rating' product.get_rating_count %}</p>
        </div>

        <form class="product-info__nums add-to-cart-form" action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <div class="product-info__nums--quantity number-select">
                <span class="input-number-decrement">–</span>
                <input class="input-number" type="text" name="quantity" value="1" max="{{product.stock}}">
                <span class="input-number-increment">+</span>
            </div>

            {% if product.stock %}
            <p class="product-info__nums--stock bold">{{ product.stock | display_stock }} in stock</p>
            {% else %}
            <p class="product-info__nums--stock--out bold upper">Out of stock</p>
            {% endif %}
            <button type="submit" class="product-info__nums--submit btn btn--black bold {% if product.stock == 0 %}btn--black--disabled{% endif %}">Add to Cart</button>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>

        <div class="product-info__description">
            <h3 class="product-info__description--heading bold">Description</h3>
            <p class="product-info__description--text regular">{{ product.description }}</p>
        </div>

    </div>

    <!-- ========== PRODUCT REVIEW SECTION ========== -->

    <!-- STAR RATING -->
    <div class="reviews">
        <div class="reviews-buttons">
            <form action="{% url 'rate_product' product.pk %}?next={{ request.path }}" class="reviews-buttons__rate star-rate" method='POST'>
            {% csrf_token %}
                <fieldset class="rating-group">
                    <input disabled class="rating__input rating__input--none" name="star-rating" id="star-rating-none" value="0" type="radio" {% if not user_rating %}checked{% endif %}>
                        {% for i in rating_options %}
                            <label aria-label="{{i}} star" class="rating__label" for="star-rating-{{i}}"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="star-rating" id="star-rating-{{i}}" value="{{i}}" type="radio" {% if i == user_rating.rating %}checked{% endif %}>
                        {% endfor %}
                </fieldset>
                <button type="submit" class="btn btn--white regular dropdown__button"><i class="fas fa-star-half-alt"></i> Submit rating</button>
            </form>
            <div class="reviews-buttons__filter dropdown">
            </div>
            <div class="reviews-buttons__sort dropdown">
            </div>
        </div>
        <!-- PRODUCT REVIEWS -->
        <div class="reviews-section">
            <h2 class="reviews-section__heading bold">{% display_count 'review' product.get_review_count %}</h2>
        
            {% if reviews.count > 0 %}
            <!-- display each review (if exists) -->
                {% for review in reviews %}
                    <div class="review">
                        <p class="review-author regular">{{ review.rating.user_id.first_name }} {{ review.rating.user_id.last_name|first }}.</p>
                        <p class="review-date light">{{review.date_added|date:'d.m.Y'}}</p>
                        {% include 'products/_star-rating-sm.html' with rating=review.rating.rating %}
                        <p class="review-headline bold">{{review.headline}}</p>
                        <p class="review-text regular">{{review.content}}</p>
                    </div>
                    {% if review.rating.user_id == request.user %}
                    <!-- add 'edit review' button if review belongs to user -->
                        <div class="reviews-section__buttons">
                            <a href="{% url 'review_product' product.slug %}"
                                class="reviews-section__buttons--edit btn btn--white regular dropdown__button">
                                <i class="fas fa-pencil-alt"></i> Edit review
                            </a>
                            <a href="{% url 'delete_review' review.id %}?next={{ request.path }}"
                                class="reviews-section__buttons--delete btn  regular dropdown__button">
                                <i class="fas fa-times"></i> Delete review
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if not user_review %}
            <!-- add 'write review' button if user has not yet reviewed -->
                <a href="{% url 'review_product' product.slug %}" class="reviews-section__button btn btn--white regular dropdown__button"><i class="fas fa-pencil-alt"></i> Write a review</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}


{% block post_js %}
<script type="module" src="{% static 'scripts/quantitySelect.js' %}"></script>
{% endblock post_js %}